
ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: #000000; 
  
}

li {
    float: left;
    
}

li a, .dropbtn {
 border:none;
 display:inline-block;
 outline:0;
 padding:8px 16px;
 vertical-align:middle;
 overflow:hidden;
 text-decoration:none;
 color:inherit;
 background-color:inherit;
 text-align:center;
 cursor:pointer;white-space:nowrap
   	  
    
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #c0c0c0;
    
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #808080;
    min-width: 160px;
    box-shadow: 0px 0px px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  
}

.dropdown-content a:hover {background-color: #696969}

.dropdown:hover .dropdown-content {
    display: block;
}